.containerLogin {
  display: flex;
  width: 450px;
  height: 350px;
  margin: 50px auto 50px auto;
  flex-direction: column;
  background-color: azure;
  border-radius: 25px;
  -webkit-box-shadow: -4px 3px 13px -3px rgba(0, 58, 72, 1);
  -moz-box-shadow: -4px 3px 13px -3px rgba(0, 58, 72, 1);
  box-shadow: -4px 3px 13px -3px rgba(0, 58, 72, 1);
}

.options {
  display: flex;
  flex-direction: column;
}

.title-login {
  margin: 50px 0 20px 0;
  text-align: center;
  width: 100%;
}

.item-google {
  margin: 10px 60px 10px 60px;
}

.button-login {
  background: transparent;
  border: none;
}