.qr-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
  grid-gap: 20px 20px;
  padding: 0px 0 25px 0;

}

.QRItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .qr-container {
    width: 80%;
    /* margin: auto; */
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-gap: 20px 20px;
    /* padding: 0px 0 25px 0; */
  
  }
}