/*QR Container*/
.qr-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  grid-gap: 20px 20px;
}

.QRItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body-qr-sign{
  width: 180px;
}

.card-title-qr-sign{
  font-size: 16px;
  text-align: center;
  font-family: 'Gentium Book Basic', serif, Arial, Helvetica;
  font-weight: 700;
}


/*QR Sign*/
.card-qr{
  width: 90%;
  margin: 25px auto 25px;
}

.card-body-qr-container{
  background-color: var(--background-app);
  padding: 20px;
}

@media only screen and (max-width: 760px) {
  .qr-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 4fr));
    grid-gap: 20px 10px;
  }
}

@media only screen and (max-width: 700px) {
  .qr-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
  }
  .card-body-qr-sign{
    width: 160px;
  }
}

@media only screen and (max-width: 640px) {
  .qr-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 4fr));
    grid-gap: 20px 30px;
  }
  .card-body-qr-sign{
    width: 140px;
  }
}

/* @media only screen and (max-width: 370px) {
  .qr-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 4fr));
    grid-gap: 10px 5px;
  }
  .card-body-qr-sign{
    width: 100%;
  }
  .card-title-qr-sign{
    font-size: 14px;
  }
  .card-body-qr-container {
    padding: 10px 6px;
}
} */